{% extends 'base.html' %}

 {% block bodyblock %}
      <div class="container">
            <br><br>
            <h2 class = 'content'> MilSayWhat's <span style="color:steelblue;">Face Detection Project</span>  </h2>
            <br>
            <p class='content'>
                MilSayWhat is the project landing page for Milind Singh Dev. This project uses Machine Learning and Flask to recognise faces from the 
                images and videos. This project is also capable of predicting the face's gender as Male or Female.
            </p>
        </div>
    
{% endblock bodyblock %}